.formContainer {
    background-color: #a7bcffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: rgb(253, 253, 253);
        padding: 20px 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: left;

        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8d;
            font-size: 12px
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: 1px solid #a7bcff ;
                width: 100px;
                
                align-items:left;
                border-bottom: 1px solid #a7bcff;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #7b96ec;
                color: rgb(255, 255, 255);
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: inline-block;
                vertical-align:bottom;
                text-align: left;
                gap: 10px;
                color: #8da4f1;
                font-size: 18px;
            }

            $label-colour: #bbb;
            $disabled-colour: #ddd;
            $toggle-colour: #46c436;
            $white: #fff;
            $focus-color: #ff0;

            .toggle-switch {
                position: relative;
                margin-right: 10px;
                width: 75px;
                display: inline-block;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                text-align: left;

                &-checkbox {
                    display: none;
                }
                

                &-label {
                    display: block;
                    overflow: hidden;
                    cursor: pointer;
                    border: 0 solid $label-colour;
                    border-radius: 42px;
                    margin: 0;
                }

                &-inner {
                    display: block;
                    width: 200%;
                    margin-left: -100%;
                    transition: margin 0.3s ease-in 0s;

                    &:before,
                    &:after {
                        display: block;
                        float: left;
                        width: 50%;
                        height: 34px;
                        padding: 0;
                        line-height: 34px;
                        font-size: 14px;
                        color: white;
                        font-weight: bold;
                        box-sizing: border-box;
                    }

                    &:before {
                        content: attr(data-yes);
                        text-transform: uppercase;
                        padding-left: 10px;
                        background-color: $toggle-colour;
                        color: $white;
                    }
                }

                &-inner:after {
                    content: attr(data-no);
                    text-transform: uppercase;
                    padding-right: 10px;
                    background-color: $label-colour;
                    color: $white;
                    text-align: right;
                }
            }

        }

        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}